
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

* {
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  /* border: 1px solid grey; */
  list-style-type: none;
}

.App {
  text-align: center;
  position: relative;
  padding : 0 1em;
  max-width: 60rem;
  margin: 0 auto;
  /* border: 2px solid red; */
}

/* .container {
  position: relative;
  padding : 0 1em;
  max-width: 60rem;
  margin: 0 auto;
  border: 2px solid red;
}  */

.banner{
  position: relative; 
  width: 90%;
  margin: 0% auto;
  /* border: 2px solid red; */

}
 
.wedWord {
  width: 80%;
  min-height: 30px;
  padding : 0 1em;
  margin: 1em;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  text-align: center;
  
}

.wedImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script';
  font-size: max(9.5vw, 80px)

}

.wedImage { 
  /* display:block; */
  width: 100%;
  height: auto;
  opacity: 0.3;
  border: 2px solid grey;
}

.wedTextBox {
  width: 90%;
  min-height: 60px;
  padding : 1em;
  margin: 1em;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: max(1.5vw, 18px)

}